@charset "UTF-8";
/*mobile first*/
html {
  margin: 0; }

.header__title {
  font-family: "Shrikhand"; }

h1 {
  font-weight: 400; }

* {
  box-sizing: border-box; }

.search {
  box-shadow: inset 0 10px 10px -10px grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px;
  gap: 15px;
  padding-left: 30px;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px; }

i.fa-sharp {
  display: flex;
  align-self: center;
  width: 12px;
  height: 16px;
  padding-left: 60px;
  color: #353535; }

.search__input {
  border: 0px;
  background-color: #EAEAEA;
  font-size: medium;
  font-weight: bold; }

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 3rem;
  background-color: #F7F7F7; }

.reserver {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  padding-top: 2rem;
  width: 70%;
  justify-content: center; }

.decouvrez {
  width: 70%;
  padding-bottom: 1rem; }

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 3rem; }

.fonct-title {
  padding-left: 1rem;
  margin-bottom: 0; }

.fa-solid {
  display: flex;
  align-items: center; }

.fa-store {
  color: #9356DC; }

.icon-heart {
  width: 100%; }

.coeur {
  width: 20px;
  height: 20px; }

.far {
  position: absolute;
  right: 0rem;
  padding-top: 30px;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-right: 2rem;
  cursor: pointer; }

.coeur2 {
  width: 20px;
  height: 20px;
  margin-right: 2rem; }

.fas {
  position: relative;
  display: flex;
  color: violet;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  padding-right: 2rem;
  padding-top: 30px;
  cursor: pointer;
  opacity: 0; }

.fas:hover {
  opacity: 1; }

.fa-arrow-left {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: start;
  align-items: start;
  left: 2rem;
  top: 3rem;
  font-size: 22px; }

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  color: white;
  position: absolute; }

.nouveau {
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem; }

button {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 500px;
  width: 218px;
  font-size: 16px;
  height: 50px;
  border: none;
  box-shadow: 0px 5px 5px #c2c0c0;
  cursor: pointer;
  transition: background-color 1s ease; }

button:hover {
  transform: scale(1.02);
  opacity: 0.8; }

.grey-btn {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: #f1f1f1;
  box-shadow: 0px 4px 15px 5px #d4d1d1;
  width: 100%;
  height: 72px;
  padding-left: 40px;
  gap: 2rem;
  margin-left: 13px; }

.text {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px; }

.commander {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 1rem; }

.ligne1desktop {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem; }

.ligne2desktop {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem; }

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 100%; }

.card-img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 15px 15px 0px 0px; }

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 1rem; }

.card-txt {
  display: flex;
  flex-direction: column;
  gap: 5px; }

.card-title {
  padding-bottom: 0;
  margin-bottom: 0; }

.card-subtitle {
  margin: 0px;
  padding-bottom: 1rem; }

.box-shadow {
  box-shadow: 0px 4px 15px 5px #d4d1d1; }

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 5rem; }

.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f6f6f6;
  box-sizing: border-box; }

footer {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  color: white;
  background-color: #353535; }
  footer li {
    list-style: none; }

.foot-title {
  display: flex;
  font-family: "Shrikhand";
  font-weight: 400;
  margin-bottom: 0; }

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.5rem; }

li {
  display: flex;
  flex-direction: row;
  gap: 1rem; }

.utensils {
  display: flex;
  gap: 0.7rem; }

.handshake {
  display: flex;
  gap: 0.5rem; }

.fa-handshake-angle {
  font-size: 14px; }

header {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 113px;
  width: 100%;
  height: 63px;
  align-items: center;
  justify-content: center;
  background-color: white; }

.filtres {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.choix {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px; }

/*Version desktop*/
@media (min-width: 1023.98px) {
  .filtres {
    display: flex;
    flex-direction: row; }

  .restaurants-cards {
    display: flex;
    flex-direction: row; }

  .ligne1desktop {
    flex-direction: row;
    width: 100%;
    height: 100%; }

  .ligne2desktop {
    flex-direction: row;
    width: 100%;
    height: 100%; }

  footer {
    flex-direction: row-reverse;
    justify-content: end; } }
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f6f6f6;
  box-sizing: border-box; }

.photoentête {
  height: 275px; }
  .photoentête img {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.souligne {
  display: flex;
  border-bottom: 3px solid #99EDD0;
  width: 40px;
  padding-top: 0;
  margin-top: 0; }

.margin-bottom {
  margin-bottom: 5px; }

.margin-top {
  margin-top: 3rem; }

.font-weight400 {
  font-weight: 400; }

.font-weight100 {
  font-weight: 100; }

.border-radius {
  border-radius: 0 0 25px 25px; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.main-pal {
  background-color: #F6F6F6;
  position: absolute;
  margin-top: -2rem;
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 100%;
  margin-bottom: 10rem; }

.footer-pal {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 80rem; }

/*# sourceMappingURL=style.css.map */
