.fa-solid {
    display: flex;
    align-items: center;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #9356DC;
    color: white;
}