.fa-solid {
    display: flex;
    align-items: center;
}

.fa-store {
    color: #9356DC;
}

.icon-heart {
    width: 100%;
}

.coeur {
    width: 20px;
    height: 20px;
}

    .far {
    position: absolute;
    right: 0rem;
    padding-top: 30px;
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-right: 2rem;
    cursor: pointer;
    }

.coeur2 {
    width: 20px;
    height: 20px;
    margin-right: 2rem;
}
    
.fas {
    position: relative;
    display: flex;
    color: violet;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    padding-right: 2rem;
    padding-top: 30px;
    cursor: pointer;
    opacity: 0;
    }

.fas:hover {
    opacity: 1;
}

.fa-arrow-left {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: start;
    align-items: start;
    left: 2rem;
    top: 3rem;
    font-size: 22px;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #9356DC;
    color: white;
    position: absolute;
}
       
.nouveau {
    position: absolute;
    height: 2rem;
    width: 5rem;
    background-color: #99e2d0;
    color: #1b6150;
    display: grid;
    place-items: center;
    right: 1rem;
    top: 1rem;
  }