.fa-solid {
    display: flex;
    align-items: center;
}

.icon-heart {
    width: 100%;
}

.fa-heart {
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-right: 3rem;
    cursor: pointer;
}

.fa-heart:focus {
    color: violet;
}

.custom-checkbox input[type="checkbox"]:checked~.checked {
    display: inline-block;
  }
  .custom-checkbox input[type="checkbox"]:checked~.unchecked {
    display: none;
  }

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #9356DC;
    color: white;
    position: absolute;
}
       
.nouveau {
    position: absolute;
    height: 2rem;
    width: 5rem;
    background-color: #99e2d0;
    color: #1b6150;
    display: grid;
    place-items: center;
    right: 1rem;
    top: 1rem;
  }