body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background: #f6f6f6;
    box-sizing: border-box;
    max-width: 1440px;
  }

  .debackground {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}